.main {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  min-height: 100vh;
  padding-bottom: 60px;
  padding-left: 20px; /* Eklendi */
  padding-right: 20px; /* Eklendi */
  box-sizing: border-box; /* Eklendi */
}

@media (max-width: 600px) {
  .main {
    max-width: 100%;
    border: none;
  }
}
