.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 3vmin;
  padding: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.navbar a:hover {
  text-decoration: underline;
}
